<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="" name="ImportImageVault"  loadFromBin="false" type="Gosso.Optimizely.ImageVault.Downloader.ImportImageVaultShellModule, [CHANGE THIS]">
	<clientResources>
		<add name="ImportImageVault" path="ClientResources" resourceType="Script" />
	</clientResources>

	<clientModule initializer="importiv.initializer">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>

	<dojo>
		<paths>
			<add name="importiv" path="ClientResources" />
		</paths>
	</dojo>
</module>